<app-page-layout>
  <div class="dashboard-layout">
        <div class="dashboard-map-pane">
           <app-map></app-map>
        </div>
        <div class="dashboard-right-pane">
           <div class="dashboard-description-pane">
             <app-description></app-description>
           </div>
           <div class="dashboard-query-pane">
             <app-query></app-query>
           </div>
        </div>
  </div>
<!--
    <h1 id="page-title" class="content__title">Public Page</h1>
    <div class="content__body">
      <p id="page-description">
        <span
          >This page retrieves a <strong>public message</strong> from an
          external API.</span
        >
        <span><strong>Any visitor can access this page.</strong></span>
      </p>
      <app-code-snippet
        title="Public Message"
        [code]="message"
      ></app-code-snippet>
    </div>
-->
</app-page-layout>
